/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 14px/20px 'Roboto', Arial, sans-serif;

}
.wrapper {
	min-width: 1024px;
	max-width: 1200px;
	margin: 0 auto;
}
.toph .wrapper {
	padding-left: 235px;
}
.mmn .wrapper {
	padding-left: 235px;
}
.wrapperf {
	min-width: 1000px;
	max-width: 1200px;
	position: relative;
	margin: 0 auto;
}
.wrapperf #undefined-sticky-wrapper {
	height: 97px !important;
}
.logo {
	display: block;
	background-color: #008bc1;
	width: 210px;
	height: 150px;
	position: absolute;
	z-index: 995;
	background-image:url(../images/logo_niica.png);
	background-repeat: no-repeat;
	background-position: center center;
		 -webkit-transition-duration: .3s;
    transition-duration: .3s;
}
.menuhey .logo {
	display: block;
	background-color: #008bc1;
	width: 210px;
	height: 53px !important;
	position: absolute;
	z-index: 1002;background-image: url(../images/logo_niica2.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.toph {
	height:97px;
	position: absolute;
	top:0;
	width: 100%;
	
}
.f {
	display: flex;
}
.w30 {
	width: 32%;
}
.w25 {
	width: 23%;
}
.w50 {
	width: 48%;
}
.w50 img {
	max-width: 100%;
	height: auto;
}
.jsp {
	justify-content: space-between;
}
.btns {
	position: relative;
	margin-top: -130px;
	margin-bottom: 30px;
}
.sro:hover > .hblck {display:block !important;}
.hblck:hover {box-shadow: inset 0 0 0 15px #438abe;background-color:rgba(67,138,190,0.6); opacity:1;}
.hblck {
	position:absolute;
	top:0;
	
	opacity: 0;
	background-color:rgba(67,138,190,0.8);
	height: 100%;
	width:100%;
	margin:0 auto;
	padding: 20px;
	text-align: center;
	font-size: 18px;
	font-weight: 700;
	box-sizing: border-box;
	line-height: 24px;
	text-transform: uppercase;
	color:#fff;
	transition:all 0.3s ease;
}
.sro {
	position: relative;
}
.parallax-container.topar {
	height: 297px !important;
}
.rab_hov {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 9500;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 0;
	font-weight: 300;
	left: 0;
	opacity: 0;
	text-align: center;
	color: #fff;
	background-color: rgba(0,139,193,0.7);
		 -webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
}
.rab_hov h3 {color: #fff; font-size: 24px;font-weight: 300;}
.wrapper .rab_hov p {color: #fff; font-size: 16px;font-weight: 300; margin-bottom: 20px;}
.rab_hov a {color: #fff; font-size: 14px;font-weight: 300; text-decoration: underline;}
.rab_hov a:hover {
	text-decoration: none;
}
.rab {
	position: relative;
	overflow: hidden;
	z-index: 9400;
			-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
}
.rab:hover > .rab_hov { 

	opacity: 1;
}
.rab img {-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;}
.rab:hover img { -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);}
.hblck .valign-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height:100%;
}
.btn_mre {
	position: relative;
	margin: 0 auto;
	padding:15px 35px;
	box-sizing: border-box;
	display:inline-block;
	margin-bottom: 20px;
	box-shadow: 0 6px 13px rgba(47,66,85,0.11);
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	-ms-transition: all .2s ease;
	transition: all .2s ease;
}
.btn_mre:hover {box-shadow: 0 6px 13px rgba(47,66,85,0.21);	outline: none;
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
    transform: translateY(4px); }
.con_btn {
	text-align: center;
	display: block;
}
.btn_mre:before {
	content: '';
	background-color: #008bc1;
	position: absolute;
	width: 100%;
	height: 2px;
	bottom:0;
	
	left: 0;
	z-index: 900;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	-ms-transition: all .2s ease;
	transition: all .2s ease;
}
.btn_mre:hover:before {height: 100%;}
.btn_mre span {
	position: relative;
	z-index: 1000;
	color:#2f4255;
	font-size: 16px;
	font-weight: 300;
}
.btn_mre:hover span {
	color: #fff;
}
.search img {
	width:70px !important;
	transition:all 0.1s ease;
	height: auto;
	
}
.wr_pos {
	position:relative;
	margin-top: -500px;
}
.ymap {
	display: block;
	height: 500px;
	position: relative;
}
input.validate {
	font: 16px/16px 'Roboto', Arial, sans-serif;
	border:1px solid #ccd2d7;
	padding:15px 20px;
	box-sizing: border-box;
	display: block;
	margin: 10px auto;
	font-weight: 300;
	outline: none;
width:100%;
	   -webkit-transition-duration: .3s;
    transition-duration: .3s;
}
textarea.validate {
	font: 16px/16px 'Roboto', Arial, sans-serif;
	border:1px solid #ccd2d7;
	padding:15px 20px;
	box-sizing: border-box;
	display: block;
	font-weight: 300;
	margin: 10px auto;
	outline: none;
	width: 250px;
	   -webkit-transition-duration: .3s;
    transition-duration: .3s;
}
input.validate:hover {border:1px solid #008bc1;}
input.validate::placeholder {color:#aeb5bb;}
textarea.validate::placeholder {color:#aeb5bb;}
textarea.validate:hover {border:1px solid #008bc1;}
#btn2.btn {
	width: 100%;
	padding: 8px 20px;
	background-color: #008bc1;
	border-radius: 0;
	box-shadow: none;
	height: auto;
	font-size: 18px;
	font-weight: 300;
	text-transform: none;
	letter-spacing: normal;
}
#btn2.btn:hover {background-color: #10A2DB;}
.blck_f {
	position: absolute;
	z-index: 10000;
	top:40px;
	right:50px; 
	width: 350px;
	background-color: #fff;
	padding: 30px;
	padding-top: 10px;
	box-sizing: border-box;
	box-shadow: 0 0 54px rgba(47,66,85,0.22);
}
.blck_f h4 {
	font-size: 22px;
	color:#2f4255;
	font-weight: 300;
	text-align: center;
	display: block;
	margin-bottom: 20px;
}
#map {
	max-width:100%;
	min-width:290px;
	position:relative;
	z-index:900;
	margin-top:26px;
	height:500px;
	display:block;
	margin-bottom:0px;}
.search {
	margin: 0 auto;
}
.search:hover > img{
	width:100px !important;
}
.wrapper h1 {
	color: #2f4255;
	font-size: 25px;
	line-height: 30px;
	font-weight: 300;
	display: block;
	text-align: center;
	margin-top: 60px;
	
}
.wrapper h1:after {
	content: '';
	width: 96px;
	display: block;
	height: 4px;
	background-color: #1f4055;
	margin: 0 auto;
	margin-top: 20px;
}
.btna {
	text-align: center;
	box-shadow:0 14px 27px rgba(47,66,85,0.11);
	border-bottom: 1px solid #008bc1;
	color: #2f4255;
	padding: 30px;
	box-sizing: border-box;
	background-color: #fff;
	-webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}
.btna:hover {border-bottom: 1px solid #1f4055;	outline: none;
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
    transform: translateY(4px); }
.btna p {
	font-size: 20px;
	line-height: 22px;
	font-weight: 300;
	width: 50%;
	margin: 0 auto;
	margin-top: 15px;
}
.mmn {
	width: 100%;
	height: 53px;
	position: absolute;
	
	background-color:#1f4055;
	 -webkit-transition-duration: .3s;
    transition-duration: .3s;
}
.menuhey .mmn {
z-index: 1001;
}
/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 150px;
	background: #fff;
}
#menudesc
{
	clear:both;
	margin: 0;
	width:100%;
	padding: 0px 0 0 0;
	list-style: none;
	background-color:transparent;
}
 
#menudesc li
{
	float: left;
	padding: 0 0 0px 0;
	position: relative;
	line-height: 0;
}
#menudesc .first a{
	
	border-left:none;
	border-top:none;} 
#menudesc .last a{
	border-right:none;
	border-bottom:none;} 
#menudesc a 
{
	float: left;
	padding:20px 35px 16px 35px;
	text-transform:uppercase;
	color: #b0c0d0;
	border-bottom:3px solid #1f4055;
	font-size:14px;
	text-decoration: none;
	font-weight:400;
	line-height:14px;
		transition: all 0.3s 0.0s ease;
-moz-transition: all 0.3s 0.0s ease;
-o-transition: all 0.3s 0.0s ease;
-webkit-transition: all 0.3s 0.0s ease;
	
}
#menudesc .active {border-bottom:3px solid #008bc1;} 
#menudesc a:hover
{
	background-color:transparent;
	color:#fff;	
	border-bottom:3px solid #008bc1;
}

 
#menudesc li:hover > ul
{
	display: block;
}
 
/* Sub-menu */
 
#menudesc ul
{
    list-style: none;
    margin: 0;
    padding: 0;    
    display: none;
    position: absolute;
    top:53px;
    left: 0;
	text-align: left;
	color: #fff;
    z-index: 99999;    
    background: #008bc1;
	box-shadow:0 20px 20px rgba(0,0,0,0.2);
  
   
}
 
#menudesc ul ul
{
  top: 0;
  left: 280px;
}

#menudesc ul li
{
    float: none;
    margin: 0;
    padding: 0;
    display: block;  

}
 
#menudesc ul li:last-child
{   
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;    
}
 
#menudesc ul a
{    
    padding:17px;
	border-right:none;
	border-left:none;
	width: 320px;
	height: auto;
    line-height: 1;
    display: block;
	font-weight:400;
	font-size:14px;
    float: none;
	text-transform: none;
	color: #fff;
	border-bottom:1px solid #0086BB !important;
}
 
*html #menudesc ul a /* IE6 */
{    
	height: 10px;
}
 
*:first-child+html #menudesc ul a /* IE7 */
{    
	height: 10px;
}
 
#menudesc ul a:hover
{
   background-color:#0E9CD3;
	color: #fff;
}
 
#menudesc ul li:first-child > a
{
 
}
 
#menudesc ul li:first-child > a:after
{
   
}
 
#menudesc ul ul li:first-child a:after
{
    left: -8px;
    top: 15px;
    width: 0;
    height: 0;
    border-left: 0;	
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-right: 8px solid #3399ff;
}
 
#menudesc ul li:first-child a:hover:after
{
    border-bottom-color:#66ccff; 
}
 
#menudesc ul ul li:first-child a:hover:after
{
    border-right-color: #66ccff; 
    border-bottom-color: transparent; 	
}
 
 
#menudesc ul li:last-child > a
{

}
 
/* Clear floated elements */
#menudesc:after 
{
	visibility: hidden;
	display: block;
	font-size: 0;
	
	content: " ";
	clear: both;
	height: 0;
}
 
* html #menudesc             { zoom: 1; } /* IE6 */
*:first-child+html #menudesc { zoom: 1; } /* IE7 */


/* flexMenu styles */
#menudesc .flexMenu-viewMore {
	float:left;}
#menudesc .flexMenu-viewMore > a {
	float:left;
  background-color:transparent;
}

.flexMenu-viewMore.active > a, .flexMenu-viewMore > a:hover {
  background-color: #257ccc;
}

#menudesc .flexMenu-popup {
  list-style-type: none;
  padding:0;
  left:auto;
  right:0px;
  background-color: #008bc1;

  margin: 0;
}

.lt-ie8 .flexMenu-popup {
}

#menudesc .flexMenu-popup a {
	padding:17px;
  border-bottom:1px solid #257ccc;
  width:200px;
  display: block;
}

.flexMenu-popup a:hover {
  background-color: #006363;
  color: #fff;
  display: block;
}
 #menudesc .flexMenu-popup ul
{
	position:absolute;
  top: 0;
  left:-222px;
}
 #menudesc .flexMenu-popup ul li a {
	 background-color:#1c1c1c;}
 #menudesc .flexMenu-popup ul li a:hover {
	 opacity:1;}
	 

.slogan, .btn_frm, .tel_b {
	display: inline-block;
	margin-top: 25px;
}
.slogan {
	float: left;
	width: 366px;
	color: #192e40;
	font-size: 14px;
	line-height: 22px;
	text-transform: uppercase;
}
.tel_b {
	width: 165px;
	display: flex;
	flex-direction: column;
	text-align: right;
	justify-content: center;
	margin-left: 20px;
	margin-top: 27px;
}
.tel_b span {
	color: #2f4255;
	font-size: 16px;
	font-weight: 700;
	line-height: 22px;
}
.btn_frm {
	width: 250px;
	background-color: #008bc1;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	padding: 13px 0;
	transition: all 0.3s 0.0s ease;
-moz-transition: all 0.3s 0.0s ease;
-o-transition: all 0.3s 0.0s ease;
-webkit-transition: all 0.3s 0.0s ease;
}
.btn_frm:hover {background-color: #099AD3;}
.tel_b, .btn_frm {
	float: right;
}
/* Middle
-----------------------------------------------------------------------------*/
.middle {
	width: 100%;
	position: relative;
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container_bix {
	width: 100%;
	float: left;
	overflow: hidden;
}
.content {
	padding: 0 320px 0 0;
}
.par_con {
	color: #fff;
	height: 324px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.wrapper .par_con h1 {
	font-size: 30px;
	font-weight: 300;
	line-height: 40px;
	color: #fff;
	margin: 30px 0;
	
}
.wrapper .par_con h1:after {
	display: none;
}
.wrapper .par_con p {
	font-size: 16px;
	font-weight: 300;
	line-height: 20px;
	color: #fff;
	margin-bottom: 40px;
}
.wrapper h2, .wrapper p {
	color:#2f4255;
}
.wrapper h2 {
	font-size: 18px;
	line-height: 25px;
	font-weight: 300;
}
.wrapper p {
	font-weight: 300;
	line-height: 22px;
}
.par_con .kol {font-size: 30px;
	font-weight: 300;display: block;
	line-height: 30px;}

.par_con .kol span {
	position: relative;
	top: 10px;
	background-image: url(../images/p_icon.png);
	background-repeat: no-repeat;
	font-size: 50px;
	font-weight: 300;
	line-height: 50px;
	padding:7px 80px 7px 15px;
	background-position: 115px center;
	background-color: rgba(31,64,85,0.7);
}
/* Right Sidebar
-----------------------------------------------------------------------------*/
.right-sidebar {
	float: left;
	width: 300px;
	margin-left: -300px;
	position: relative;
	background: #FFACAA;
}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
	height:auto;
	box-sizing: border-box;
	padding: 40px 0;
	background:#1f4055;
	color: #fff;
}
.flogo {
	margin-bottom: 15px;
	display: block;
}
.wrapper .fsl {
	color: #93a5b8;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 20px;
}
.wrapper .ftelb p {
	font-size: 16px;
	font-weight: 700;
	color: #fff;
}
.ullst {
	font-size: 14px;
	line-height: 18px;
	font-weight: 300;
}
.ullst li a {
	color: #9eafc0;
	font-size: 14px;
}
.ullst li a:hover {
	color: #fff;
}
.ullst .ulnm a {
	font-size: 18px;
	color: #fff;
	
}
.footerbot {
	padding: 40px 0 60px 0;
	color: #fff;
	background-color: #193648;
}
.footerbot .wrapper p{
	color: #b1c4d6;
}
.footerbot .wrapper a{
	color: #b1c4d6;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.ulnm {
	margin-bottom: 20px;
}
.animated-modal h2 {
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 30px;
	line-height: 35px;
	margin-bottom: 10px;
}
.animated-modal p {
	text-align: center;
	font-family: 'Roboto';
	font-weight: 300;
}

.animated-modal h2, .animated-modal input, .animated-modal textarea, .animated-modal button,
.animated-modal p {
  transform: translateY(-50px);
  opacity: 0;
	text-align: center;
  transition-property: transform, opacity;
  transition-duration: .4s;
}

/* Final state */
.fancybox-slide--current .animated-modal,
.fancybox-slide--current .animated-modal h2,
.fancybox-slide--current .animated-modal input,
.fancybox-slide--current .animated-modal p,
.fancybox-slide--current .animated-modal textarea,
.fancybox-slide--current .animated-modal button{
  transform: translateY(0);
  opacity: 1;
}

/* Reveal content with different delays */
.fancybox-slide--current .animated-modal h2 {
  transition-delay: .1s;
}

.fancybox-slide--current .animated-modal p {
  transition-delay: .3s;
}
.fancybox-slide--current .animated-modal input {
  transition-delay: .4s;
}
.fancybox-slide--current .animated-modal textarea {
  transition-delay: .5s;
}
.fancybox-slide--current .animated-modal button {
  transition-delay: .6s;
}
#p_prldr{
position: fixed;
left: 0;
top: 0;
right:0;
bottom:0;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: rgba(15,37,51,1);
z-index:1600;}

.contpre small{font-size:25px;}
 
.contpre{
width: 250px;
height: 100px;
position: absolute;
left: 50%;top: 48%;
margin-left:-125px;
margin-top:-75px;
color:#fff;
font-size:14px;
text-align:center;
line-height:20px;}
 
#p_prldr .svg_anm {
position: absolute;
width: 41px;
height: 41px;
background: url(images/oval.svg) center center no-repeat;
background-size:41px;    
margin: -16px 0 0 -16px;}
.pre_logo {
	font-size: 14px;
	color: #fff;
	padding: 20px 50px;
	text-decoration: none;
	font-weight:400;

	display: block;
	vertical-align: top;
	
}
.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 10px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #008bc1;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
@media screen and (max-width: 1024px) {
	.wrapper {
	min-width: 994px;
	max-width: 1200px;
	margin: 0 auto;
		padding: 0 15px;
}
	.logo {
		left: 15px;
	}
	.toph .wrapper {
    padding-left: 250px;
}
	.mmn .wrapper {
    padding-left: 250px;
}
	.tel_b {
    width: 165px;
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: center;
    margin-left: 10px;
    margin-top: 27px;
}
	.slogan {
    float: left;
    width: 300px;
    color: #192e40;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
}
	.wr_pos {
    position: relative;
    margin-top: -500px;
}
}